@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:300,400,500,600,700|Lora:400,400i,700,700i&display=swap");

* { box-sizing: border-box; }
body{
    margin: 0;
    padding: 0;
    background-image: url("pic.jpg");
    background-size: cover;
    background-attachment: fixed;
}
div{
    margin: 0 auto;
    text-align: center;
}

h1{
    font-weight: 100;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 6, 6);
    padding: 4rem 0;
}
span{
    color: rgb(9, 141, 16);
    text-shadow: 2px 2px lavenderblush;
}
h3{
    color: rgb(0, 17, 255);
    font-size: 2vw;
}
h1, h3{
    margin: 0 auto;
}
.p{
    font-size: 18px;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    color: rgb(255, 6, 6);

}
label{
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 500;
    color:rgb(0, 17, 255)

}
form{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
#input{
    width: 500px;
max-width: 90%;
margin: 15px auto;
box-shadow: 0 0 10px #000;
border: 1px solid #f2f2f2;
background-color: #f2f2f2;
padding: 8px;
border-radius: 8px;
}
textarea{
    width: 500px;
    max-width: 90%;
    height: 100px;
    margin: 15px auto;
    box-shadow: 0 0 10px #000;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 8px;
}
select{
    width: 500px;
    max-width: 90%;
    box-shadow: 0 0 10px #000;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 8px;
    }
    ::placeholder{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    button{
        width: 500px;
        max-width: 90%;
        height: 50px;
        font-size: 1rem;
        background-color: black;
        color: #fff;
        border: none;
        margin: 1.5rem 0;
        cursor: pointer;
        border-radius: 8px;
    }
    button:hover{
        background:rgb(0, 17, 255) ;
        transform: translateX(-4);
    }
    footer{
        margin: 2rem 0;
    }



/*-----POPUP----*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  max-width: 80%;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}




/*-----STAR EMOJI----*/
.container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}




@media (max-width: 992px) {
    h1{
        font-weight: 100;
        font-size: 6vw;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 6, 6);
        padding: 4rem 0;
    }
    h3{
        color: rgb(0, 17, 255);
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    h1{
        font-weight: 100;
        font-size: 7vw;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 6, 6);
        padding: 4rem 0;
    }
    h3{
        color: rgb(0, 17, 255);
        font-size: 3.5vw;
    }
}

@media (max-width:576px) {
    h1{
        font-weight: 100;
        font-size: 8vw;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 6, 6);
        padding: 4rem 0;
    }
    h3{
        color: rgb(0, 17, 255);
        font-size: 5vw;
        font-style: italic;
        font-weight: 100;
    }
}

@media (min-width:100px) and (max-width:350px){
    h1{
        font-weight: 100;
        font-size: 8vw;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 6, 6);
        padding: 4rem 0;
    }
    h3{
        color: rgb(0, 17, 255);
        font-size: 4vw;
        font-style: italic;
        font-weight: 100;
    }
}